# Dependencies
node_modules/

# Build output
.output/
.nuxt/
dist/

# Environment
.env
.env.*
!.env.example

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db

# Nitro / misc
.data/
*.tsbuildinfo
